# Ignore all .env files
.env
.env.*
*/.env
*/.env.*

client_secret_336477014981-isioajjcvl53fmtgaj1c8tqb1eeaarrb.apps.googleusercontent.com.json
# Ignore all data folders in services
/data/
*/data/
*/data/**