version: "3.8"

services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - ACME_EMAIL=sean@colsonfamily.net

  echo:
    image: ealen/echo-server:latest
    container_name: echo
    restart: unless-stopped
    expose:
      - "80"

  homeassistant:
    image: homeassistant/home-assistant:stable
    container_name: homeassistant
    restart: unless-stopped
    expose:
      - "8123"
    volumes:
      - ./services/homeassistant/configuration.yaml:/config/configuration.yaml
      - ./services/homeassistant/data:/config

volumes:
  caddy_data:
  caddy_config:
