
services:

    caddy:
      image: caddy:latest
      container_name: caddy
      restart: unless-stopped
      ports:
        - "80:80"
        - "443:443"
      volumes:
        - ./Caddyfile:/etc/caddy/Caddyfile
        - ./data/caddy/data:/data
        - ./data/caddy/config:/config
      environment:
        - ACME_EMAIL=sean@colsonfamily.net


    echo:
      image: ealen/echo-server:latest
      container_name: echo
      restart: unless-stopped
      expose:
        - "80"


    homeassistant:
      image: homeassistant/home-assistant:stable
      container_name: homeassistant
      restart: unless-stopped
      expose:
        - "8123"
      volumes:
        - ./data/homeassistant/config:/config
        - ./services/homeassistant/configuration.yaml:/config/configuration.yaml # Optional: keep bind mount for config

    n8n:
      image: n8nio/n8n:latest
      container_name: n8n
      restart: unless-stopped
      expose:
        - "5678"
      env_file:
        - ./services/n8n/.env
      volumes:
        - ./data/n8n:/home/node/.n8n

